.title {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    margin-top: 10px;
}

.body {
    padding: 50px;
    height: 500px;
    overflow: auto;
}

.added-on {
    color: rgb(75, 78, 78);
}
.posted{
    color: rgb(75, 78, 78);
    cursor: pointer; 
}

